.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 60px;
    padding: 1em;
}

.main__container__shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    border-radius: 32px;
    align-items: center;
    margin-bottom: 2rem;
}

.marginTopContainer {
    margin-top: 2rem;
}

.alignItemsCenter {
    align-items: center;
}

.imagePost {
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    @media screen and (min-width: 600px) {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 32px;
    }
}

.paddingContainer {
    padding: 2em;
    align-items: center;
}

.description__text {
    max-height: 200px;
    overflow: auto;
    background: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
        radial-gradient(
            farthest-side at 50% 0,
            rgba(222, 222, 222, 0.5),
            rgba(0, 0, 0, 0)
        ),
        radial-gradient(
                farthest-side at 50% 100%,
                rgba(222, 222, 222, 0.5),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 39px, 100% 39px, 100% 13px, 100% 13px;
}

// post/archive

.imagePost--archive {
    width: 100%;
    border-radius: 32px;

    @media screen and (min-width: 600px) {
        width: 50%;
    }
}

.button--archive {
    margin-bottom: 1.5rem !important;
}

// .imageDelete__text {
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     bottom: 0px;
//     right: 0px;
//     width: 100%;
//     height: 35%;
//     background: linear-gradient(
//         to top,
//         rgba(194, 194, 194, 1),
//         rgba(255, 255, 255, 0)
//     );
//     border-bottom-left-radius: 32px;
//     border-bottom-right-radius: 32px;
// }
