* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

body {
  background: #ffffff;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
  border-radius: 32px;}

.imageMessage {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  width: 100%;
}  

.chat {
  width: 50%;
  background: white;
  margin: 4rem auto;
  border-radius: 4px;
  min-height: 4rem;
  padding: 1rem;
}

.message {
  display: flex;
  margin-bottom: 0.5rem;
}

.message--remote {
  flex-direction: row;
  }

.message--local {
  flex-direction: row-reverse;
   }

.message__text {
  flex: 0 0 auto;
  max-width: 80%;
  padding: 1rem;
  border-radius: 4px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.message--local .message__text {
  background-color:#246b43;
  color: white;
}

.message--remote .message__text {
  background-color: #cccccc;
  color: black;
}