* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

body {
  background: #ffffff;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
  border-radius: 32px;
  }

.imageMessage {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  width: 100%;
}  

 @media only screen and (max-width: 2000px) {
  .imageMessage {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    width: 100%;
  }
*/

.message {
  display: flex;
  margin-bottom: 0.5rem;
}

.message--sender {
  flex-direction: row;
  }

.message--reciever {
  flex-direction: row-reverse;
   }

.message__text {
  flex: 0 0 auto;
  max-width: 80%;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.message--reciever .message__text {
  background-color:#246b43;
  color: white;
}

.message--sender .message__text {
  background-color: #cccccc;
  color: black;
}