* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  
  body {
    background: #ffffff;
  }

  .boxshadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    border-radius: 32px;
     }

    .box {
    border-radius: 32px;
    max-width: 50%;
    padding: 10px;
      }  

  .imageMessage {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 100%;
  }

  .chat {
    width: 100%;
    margin: auto;
    min-height: 50px;
    padding: 5px;
  }
  

  
  .message {
    display: flex;
    margin-bottom: 0.5rem;
  }
  
  .remote {
    flex-direction: row;
    background-color: #cccccc;
    color: black;
    }
  
  .local {
    flex-direction: row-reverse;
    background-color:#246b43;
    color: white;
     }
  
       
/*   .btn-like {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
  }
  
  .btn-like--liked {
    background-color: red;
  } */