html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

///STEFANO'S CSS

@import "../js/app/Post/post";

///EVA'S CSS

@import "../js/app/Messages/messages";

///BARA'S CSS

.banner {
    background-image: url("/homepage_main_bg.jpg");
    background-size: cover;
    background-position: left;
    height: 300px;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@import "../js/app/components/PostGrid/postgrid";
@import "../js/app/Home/home";
