html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


@import "../js/app/Post/post";
@import "../js/app/Auth/auth";

@import "../js/app/Messages/messages";


@import "../js/app/common/PostGrid/postgrid";

@import "../js/app/Home/home";
@import "../js/app/User/user";
