.content--home {
    // background-color: pink;
}

.banner {
    background-image: url("/homepage_main_bg.jpg");
    background-size: cover;
    background-position: left;
    height: 300px;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
